#modal-success {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
  background: #0E0A14;
  opacity: 0.95;
  overflow: hidden;
}

#modal-success svg {
  color: #C67472;
  height: 64px;
  width: 64px;
}

#modal-success strong {
  margin-top: 20px;
  color: #F0F0F5;
  font-size: 36px;
}

#modal-success button {
  width: 260px;
  height: 56px;
  background: var(--primary-color);
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  margin-top: 40px;
  transition: background-color 0.2s;
  cursor: pointer;
}

#modal-success button:hover {
  background: rgb(211, 129, 127);
}