:root {
  --primary-color: #C67472;
  --title-color: #564556;
  --text-color: #6C6C80;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F0F0F5;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body, input, textarea, button {
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: Fredoka One;
}
